<h2>Season {{seasonNumber}}</h2>
<div class="container mt-3">
    {{#each data as |episode|}}
        <div class="card" style="width: 19rem;">
            <img src="{{episode.image.medium}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{ episode.name }}</h4>
                <h5 class="card-subtitle">S{{episode.season}} E{{episode.number}}</h5>
                <p class="card-text">{{{episode.summary}}}</p>
            </div>
        </div>
    {{/each}}           
</div>